body{
  margin:0;
}


.container{
  width:1000px;
  margin:0 auto;
}

header{
  height:80px;
  background:black;
  color:white;

}

.header-logo{
  font-weight:normal;
  padding-left:5px;
  line-height: 80px;
  font-family: 'Teko' ;

}
/* ここからモーダル */
.mail-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  top: 5%;
  left: 30%;
  background-color: #e6ecf0;
  padding: 20px 0 40px 50px;
  border-radius: 10px;
  width: 400px;
  height: auto;
  box-shadow:10px 10px 10px rgba(0,0,0,0.6);
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form, #mail-form {
  width: 100%;
}

#signup-form h2, #mail-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
  opacity:0.5;
}
#submit-btn:hover{
  opacity:1;
}
/* ここまでモーダル */
.top-wrapper {
  margin-top:30px;
}
#top-image{
  width:100%;
 
}
.top-text{
 text-align: center;
 height:auto;
}
.top-heading{
  margin-bottom:0;
}
.top-points{
  display:flex;
}
.point{
  width:25%;
  margin:10px;
  background-color:f7f7f7;
}
.point h2{
  font-weight:normal;
  border:solid 1px black;
  border-radius:10px;
  background-color: black;
  color:white;
}
.point-text{
  display:none;
  width:90%;
  font-size:14px;
  text-align: start;
}
.text-active{
  display:block;
}

.faq-wrapper{
  border-top:double 3px black;
  margin:40px 0;
  
  
  

}
.faq-heading{
  margin-bottom:0;
  text-align: center;
  
  
}
.faq{
  font-size:14px;
}
.faq span{
  padding-right: 10px;
}
.faq-list li{
  list-style:none;
  
}
.faq-list{
  margin:0 auto;
}
.faq-list-item {
  margin:10px;
  border-bottom:1px solid #ccc;
  position:relative;
  cursor:pointer;
  text-align: left;
}
.answer{
  display:none;
}

.form-wrapper{
  text-align: center;
  border-top:double 3px black;
}
.tokki {
  font-size:8px;
}
.btn {
  background:black;
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.6;
  border-radius: 20px;
  font-size:30px;
}
.btn:hover{
  opacity:1;
  cursor: pointer;
}
footer{
  border-top:double 5px white;
  margin-top:20px;
  background:black;
  

}
.footer-logo{
  font-weight:normal;
  display:flex;
  justify-content: flex-end;
  margin-bottom:5px;
  color:white;
  font-family: 'Teko';
}
footer a{
  display:inline-block;
  display:flex;
  justify-content:flex-end;
  color:white;
}
footer p{
  text-align: center;
  color:gray;
}
.address{
  font-size:8px;
  color:gray;
}
@media(min-width:1001px){
  .faq-list{
    width:500px;
    margin:0 auto;
  }
}
@media (max-width:1000px){
  .container{
    width:670px;
  }
  .header-logo{
    text-align: center;
  }
  .top-points{
    display:flex;
  }
  .point{
    width:50%;
  }
  .modal{
    left:20%;
  }
  .faq-list{
    width:400px;
    margin:0 auto;
  }
  .footer-logo{
    justify-content: center;
  }
  footer a{
    justify-content: center;
  }
}
@media (max-width:700px){
  .container{
    width:400px;
  }
  .header-logo{
    text-align: center;
  }
  .top-points{
    display:block;
  }
  .point{
    width:100%;
  }
  .modal{
    left:5%;
  }
  .faq-list{
    width:300px;
    margin:0 auto;
  }
  .footer-logo{
    justify-content: center;
  }
  footer a{
    justify-content: center;
  }
}

@media (max-width:360px){
  .container{
    width:320px;
  }
  .header-logo{
    text-align: center;
  }
  .top-points{
    display:block;
  }
  .point{
    width:100%;
  }
  .modal{
    left:5%;
  }
  .faq-list{
    width:300px;
    margin:0 auto;
  }
  .footer-logo{
    justify-content: center;
  }
  footer a{
    justify-content: center;
  }
}
